---
title: Criteria scores
---
extends shared/_layout
block content
  
  .p-contanier
    .container
      .p-contanier__wrapper
        .container.container--smaller

          a(href="submissions.html").page-back
            .icon.icon-arrow-back
            span Report Summary
      
          .p-box.report
            // summary
            .report__summary
              .report__summary-col
                .report__summary-head risk analysis
                .report__summary-text.report__summary-text--red Errors per row 
              .report__summary-label.report__summary-label--red failed
              .report__summary-col
                .report__summary-head batch id
                .report__summary-text 1020
              .report__summary-col
                .report__summary-head batch
                .report__summary-text Monday June 12th 2017 11:00AM PST
              .report__summary-col
                .report__summary-head download
                a(href="#").report__summary-text
                  +icon('ico-download')
            
            
            // table
            table.p-table.p-table--full(js-stacktable)
              thead
                tr
                  td #
                  td Criteria ID and Link
                  td Short Explanation
                  td Count
                  
              tbody
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
                  tr
                    td #
                    td 1234567
                    td Keyword blacklist match: run, guns, jewels, rap
                    td 003

          .subm__more
            a(href="#").btn.btn-more
              span Load more
