---
title: Results report Blank
---
extends shared/_layout
block content
  
  .p-contanier
    .container
      .p-contanier__wrapper
        .container.container--smaller

          a(href="submissions.html").page-back
            .icon.icon-arrow-back
            span Submissions
      
          .p-box.report
            .report__tabs.report__tabs--disabled
              .report__tab.is-active Overall Risk Assessment
              .report__tab Apple & Itunes Guidelines
              .report__tab Custom Parameters
            
            // report blank
            .report-blank
              .report-blank__title Your report is being generated
              .report-blank__description We will send you an email at <a href="mailto">email@emailaddress.com</a> as soon as the report is ready for review.
              .report-blank__image
                img(src='img/report-blank.png' srcset='img/report-blank@2x.png 2x')
