/* CSV

.csv
  &-box
    background: #F9FAFD
    border: 1px solid #9CA2FF
    margin: 20px

.xml-code
  overflow-x: scroll

.xml-code pre, .xml-code xmp
  margin: 0
  padding: 20px

+r($tablet)
  .csv
    font-size: 14px
    &-box
      margin: 20px 0
      border-left: 0
      borde-right: 0

  .xml-code pre, .xml-code xmp
    padding: 0 15px
