// INDEX

.subm
  position: relative
  z-index: 19
  &__wrapper
    background: #FBFCFE
    box-shadow: 0 10px 14px 0 rgba(69,73,91,0.08)
    padding: 25px 0 60px 0
    margin-bottom: 20px

  &__header
    display: flex
    align-items: center

  &__more
    text-align: center
    margin-top: 50px


.page-title
  display: flex
  align-items: center
  font-style: 26px
  color: #6B6F83
  padding-top: 35px
  span, h1
    display: inline-block
    margin: 0
    margin-left: 12px
  &__num
    font-size: 18px
    margin-left: auto

.page-back
  display: flex
  align-items: center
  color: #A7ABBF
  .icon-arrow-back
    +tr
  span
    display: inline-block
    margin-left: 10px

  &:hover
    .icon-arrow-back
      transform: translate3d(-15px,0,0)


.p-box
  margin-top: 25px
  background: white
  border: 1px solid #F4F5F9
  overflow: hidden
