// INDEX

.subm
  position: relative
  z-index: 20
  &__wrapper
    background: #FBFCFE
    box-shadow: 0 10px 14px 0 rgba(69,73,91,0.08)
    padding: 60px 0

  &__header
    display: flex
    align-items: center


.page-title
  display: flex
  align-items: center
  font-style: 26px
  color: #6B6F83
  span, h1
    display: inline-block
    margin: 0
    margin-left: 12px
  &__num
    font-size: 18px
    margin-left: auto

table
  thead

  tr

  td
    font-size: 15px
