.ico-alert-circle {
  width: 1em;
  height: 1em;
  fill: #666EE8;
}
.ico-anchor {
  width: 1em;
  height: 1em;
  fill: #666EE8;
}
.ico-arrow {
  width: 1.06em;
  height: 1em;
  fill: none;
}
.ico-astronaut {
  width: 1em;
  height: 1em;
  fill: #666EE8;
}
.ico-award {
  width: 0.63em;
  height: 1em;
  fill: none;
}
.ico-axe {
  width: 0.88em;
  height: 1em;
  fill: none;
}
.ico-backpack-2 {
  width: 1em;
  height: 1em;
  fill: #666EE8;
}
.ico-backpack {
  width: 0.88em;
  height: 1em;
  fill: none;
}
.ico-calendar-grid {
  width: 0.88em;
  height: 1em;
  fill: none;
}
.ico-close {
  width: 1em;
  height: 1em;
  fill: #C0C4D3;
}
.ico-document {
  width: 0.92em;
  height: 1em;
  fill: #404994;
}
.ico-drop-selector {
  width: 1.5em;
  height: 1em;
  fill: #656AEB;
}
.ico-home {
  width: 0.94em;
  height: 1em;
  fill: #464855;
}
.ico-list {
  width: 1.14em;
  height: 1em;
  fill: none;
}
.ico-logo {
  width: 7.36em;
  height: 1em;
  fill: none;
}
.ico-market-music {
  width: 1em;
  height: 1em;
  fill: #9FA4C9;
}
.ico-star-empty {
  width: 1.05em;
  height: 1em;
  fill: #404994;
}
.ico-upload {
  width: 0.73em;
  height: 1em;
  fill: #404994;
}
