.ico-drop-selector {
  width: 1.5em;
  height: 1em;
  fill: #656AEB;
}
.ico-home {
  width: 0.94em;
  height: 1em;
  fill: #464855;
}
.ico-logo {
  width: 7.36em;
  height: 1em;
  fill: none;
}
.ico-status-failed {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-status-progress {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-status-sucess {
  width: 1em;
  height: 1em;
  fill: none;
}
.ico-status-waiting {
  width: 1em;
  height: 1em;
  fill: none;
}
